@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  background-color: lightgray;
  height: 100vh;
  background-size: cover;
  background-image: url(/assets/background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

header{
    display: flex;
    margin-left: 22px;
    margin-right: 21px;
    margin-top: 19px;
    column-gap: 168px;
    justify-content: center;
    align-items: center;
}

input{
    color: rgba(255, 255, 255, 0.70);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    border-bottom: 1px solid white;
    background: none;
    outline: none;
    width: 125px;
    background-image: url(fa_search.svg);
    background-repeat: no-repeat;
    background-position: right;
}

.search{
    position: absolute;
    top: 23px;
    right: 24px;
}

.mid{
    margin-top: 101px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.temp{
    color: #FFF;
    font-family: Roboto;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -5.12px;
}

.cityname{
    color: #FFF;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.date{
    color: #FFF;
    font-family: Roboto;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.rame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.bottom{
    border-top: 5px solid rgba(255, 255, 255, 0.14);
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(9.5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    height: 477px;
}

.det{
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 55px;
}

.ilia{
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 37px;
}

.giorgi{
    display: flex;
}

.marjvena{
    margin-left: 122px;
    margin-right: 20px;
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 56.413px;
    text-align: right;
}

.tempmax{
    color: rgba(255, 255, 255, 0.70);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 74.143px;
}

.qvemot{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.line{
    width: 285px;
    height: 50px;
    border-bottom: 1px solid #FFF;
    margin-bottom: 41px;
}